@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

/* ====================================================
                    Table of Contents
   ====================================================

1. Variables

2. Global Styles

3. Components
   3.1 Header
   3.2 Container
   3.3 Items
   3.4 Media queries

======================================================= */

/* ==================
      1. Variables
   ================== */

:root {
    --border-radius: .25em; /* controls the rounded edges of forms */
    --border-stroke-width: .15em;

    --background-colour: #f5f5f5;
    --primary-colour: #ee4d4d;
    --secondary-colour: #2b2e48;
    --font-colour: #726f77;
}

/* ==================
    2. Global Styles
   ================== */

* {
	box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
	background: var(--background-colour);
	/* background: black; */
}

/* ==================
      3. Components
   ================== */

/* 3.1 Header */

.header-container{
    margin: 0 0 20px 0;
    padding: 20px 0 0 0;
    background-color: var(--secondary-colour);
}

.header-container-title{
    margin: 0;
    padding: 0;
    text-align: center;
    color: var(--background-colour);
}

.header-container-legal{
    margin: 0;
    padding: 0;
    width: 20em;
    left: 1em;
    top: -1em;
    position: relative;
    text-align: left;
    color: var(--font-colour);
}

.header-container-legal-link {
    color: var(--font-colour);
}

/* 3.2 Container */

.timeline {
	position: relative;
	max-width: 1200px;
	margin: 0 auto 2em auto;
}
  
/* Vertical ruler */
.timeline::after {
	content: '';
	position: absolute;
	width: 3px;
	background-color: var(--primary-colour);
	top: 0;
	bottom: 0;
	left: 50%;
	margin-left: -1.5px;
}
  
/* Container around content */
.timeline-container {
	padding: 10px 40px;
	position: relative;
	background-color: inherit;
	width: 47%; /* If you change this, don't forget to change the .right{left: ;} property so they total 100%*/
}

.timeline-container.left h6{
	margin: 2px 2px 2px 5%;
	padding: 2px;
	position: absolute;
	left: 94%;
	top: 15px;
	text-align: center;
	font-weight: 300;
	font-size: 1em;
	border: solid var(--primary-colour);
	border-width: 2px;
	border-radius: 6px;
	background: white;
	z-index: 2;
}

.timeline-container.right h6{
	margin: 2px 4.5% 2px 2px;
	padding: 2px;
	position: absolute;
	right: 94%;
	top: 15px;
	text-align: center;
	font-weight: 300;
	font-size: 1em;
	border: solid var(--primary-colour);
	border-width: 2px;
	border-radius: 6px;
	background: white;
	z-index: 2;
}
  
/* Places container to the left */
.left {
	left: 0;
}
  
/* Places container to the right */
.right {
	left: 53%;
}
  
/* Adds arrows to left container (pointing right) */
.left::before {
	content: '';
	height: 0;
	position: absolute;
	top: 22px;
	width: 0;
	z-index: 1;
	right: 34px;
	border: medium solid var(--primary-colour);
	border-width: 7px 0 7px 7px;
	border-color: transparent transparent transparent var(--primary-colour);
}
  
/* Adds arrows to right container (pointing left) */
.right::before {
	content: '';
	height: 0;
	position: absolute;
	top: 22px;
	width: 0;
	z-index: 1;
	left: 34px;
	border: medium solid var(--primary-colour);
	border-width: 7px 7px 7px 0;
	border-color: transparent var(--primary-colour) transparent transparent;
}
  
/* 3.3 Items */
.content {
	background-color: white;
	position: relative;
	border-radius: 6px;
	box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
}

.content h2{
	padding: 15px;
	margin: 0px;
	background: var(--primary-colour);
	color: white;
	font-weight: 300;
	border-radius: 6px 6px 0 0;
}

.content p{
	padding: 15px;
	margin: 0px;
	color: var(--font-colour);
}
  
/* 3.4 Media queries */
@media screen and (max-width: 1530px){
	.header-container-legal{
		width: auto;
		margin-top: 1em;
	}
}

@media screen and (max-width: 700px) {
	/* Places timeline to the left */
	.timeline::after {
		left: 61px;
	}
  
  	/* Container width */
	.timeline-container {
	  width: 100%;
	  padding-left: 130px;
	  padding-right: 25px;
	}
  
  	/* Makes sure all arrows are pointing leftwards */
	.timeline-container::before {
	  left: 124px;
	  border: medium solid var(--primary-colour);
	  border-width: 7px 7px 7px 0;
	  border-color: transparent var(--primary-colour) transparent transparent;
	}
  
  	/* Makes all right containers behave like left ones */
	.right {
	  left: 0%;
	}

	.timeline-container.left h6, .timeline-container.right h6 {
		margin: 2px 5% 2px 2px;
		left: 3%;
		width: 86.667px;
	}
  }